@import 'app/styles/variables.scss';

@mixin formItemLayout {
  outline: none;
  border: 1px solid $black;
  padding: 0.8rem;
  border-radius: 0.4rem;
}

.formItem {
  position: relative;

  .input {
    @include formItemLayout;
    background-color: $pink10;
    width: 100%;
  }

  .errorText {
    position: absolute;
    font-size: 9px;
    display: block;
    top: 46px;
    color: $red20;
  }
}
